<table id="tablaArticulos" class="table table-striped table-bordered text-center" style="width:100%">
    <thead>
        <tr>
            <th>N°</th>
            <th>Obra</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Abrir</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>