<table class="table text-white text-center" style="text-shadow: 0 0 5px #000;" id="tablaObras">
    <thead class="table-dark">
        <th scope="col">ID Obra</th>
        <th>Nombre</th>
        <th>Plazo</th>
        <th>Empresa</th>
    </thead>
    <tbody>
    </tbody>
</table>